# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a table with Data Science Tools
- Illustrate examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Data Science
2. R Studio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Yugandhara